*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(144, 155, 216);
}

h1{ 
    margin: 20px;
    color: white;
}

#game-board{
    width: 80%;
    min-height: 75vh;
    height: 100%;
    justify-content: space-evenly;
    background-color: white;
}

div{
    display: flex;
    flex-wrap: wrap;

    height: 180px;
    width: 120px;

    margin: 10px;
    padding: 10px;
    border:solid black;
}

.card{
    align-items: center;
    justify-content: center;

    font-weight: bold;
    font-family: monospace;
    font-size: 1.5em;

    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.card:hover{
    cursor: pointer;
}